@page "/codepage/{Folder?}"
@inherits CodePageBase

<PageTitle>Code Page</PageTitle>

<h1 style="padding-top: 10px;"><center>@ModifyTitle(Manifest)</center></h1>


<h3 style="padding-top:20px;padding-left:20px">Tip: @Manifest?.Tip</h3>
@if (HasSummary())
{
    <h3 class="questions">What: @Summary!.What</h3>
    <h3 class="questions">Why: @Summary!.Why</h3>
    <h3 class="questions">How: @Summary!.How</h3>
}

@if (HasImage())
{
    <img src="@Manifest?.ImageURL" class="image600" />
}

@if (HasDemo())
{
    <a class="btn badge bg-success ms-1 me-1" href="@Manifest.DemoURL" >DEMO</a>
    @* <a href="@Manifest?.DemoURL" style="padding-left:80px;padding-top:40px">@Manifest!.DemoURL</a> *@
}

@* <h4 style="padding-top:20px;padding-left:80px;padding-bottom:50px"><i>@Manifest!.Notes</i></h4> *@

@foreach (var Sample in Samples)
{
    <div>
        <CodeDisplay Folder=@Manifest!.Folder Filename=@Sample.Filename GUID="@Sample.GUID"/>
    </div>
}

<a class="btn btn-dark m-1" href="/samples" >Code Samples...</a>
<br/>

@if (HasMeme())
{
    <img src="@Manifest?.MemeURL" class="meme400" />
}
