@page "/codepage/{Folder?}"
@inherits CodePageBase

<PageTitle>Code Page</PageTitle>

<h2 style="padding-top: 10px;"><center>@Manifest!.Title</center></h2>
<h3 style="padding-top: 10px;"><center>@Manifest!.Description</center></h3>
@if (HasImage())
{
    <img src="@Manifest?.ImageURL" class="image600" />
}

@if (HasDemo())
{
    <a href="@Manifest?.DemoURL" style="padding-left:80px;padding-top:40px">@Manifest!.DemoURL</a>
}
<h4 style="padding-top:20px;padding-left:80px;padding-bottom:50px"><i>@Manifest!.Notes</i></h4>

@foreach (var Sample in Samples)
{
    <div>
        <CodeDisplay Folder=@Manifest!.Folder Filename=@Sample.Filename Title="@Sample.Title"/>
    </div>
}

<a class="btn btn-dark m-1" href="/samples" >Code Samples...</a>

@if (HasMeme())
{
    <img src="@Manifest?.MemeURL" class="meme400" />
}
