

@using Microsoft.AspNetCore.Components.Web
@using System.IO
@using System.Net
@using FoundryBlazor.Extensions
@inherits CodeDisplayBase


<h3 style="padding-top:30px;padding-left:20px">@Sample?.Tip</h3>


@if (HasImage())
{
    <img src="@Sample?.ImageURL" class="image600" />
}
    
@if (HasCode())
{
    <StandaloneCodeEditor @ref="_editor" ConstructionOptions="EditorConstructionOptions" OnDidInit="@EditorOnDidInit" />
}

@* <h4 style="padding-top:10px;"><center>@Sample?.Title</center></h4> *@

@if (HasDemo())
{
    <a class="btn badge bg-success ms-1 me-1" href="@Sample.DemoURL" >DEMO</a>
    @* <a href="@Sample!.DemoURL" style="padding-left:80px;padding-top:40px">@Sample?.DemoURL</a> *@
}


@if (HasMeme())
{
    <img src="@Sample?.MemeURL" class="meme400" />
}
