@page "/duelview/{LoadWorkbook?}"
@using FoundryBlazor
@inherits DuelViewPage

<PageTitle>FoundryBlazor DuelViewPage</PageTitle>


<Menu />
<div class="d-flex">
    <Viewer2D />
    <Viewer3D />
</div>
