@page "/"

<PageTitle>Index</PageTitle>

<h2 style="padding-top: 20px;"><center>Hello, NDC Oslo</center></h2>


<h1 style="padding-top: 70px;"><center style="font-size: xxx-large;">Reinventing Visio in 2023</center></h1>

<h2 style="padding-top: 40px;"><center>A Blazor Project</center></h2>

<center style="padding-top: 80px;">
    <img src="/storage/StaticFiles/Media/VisioIcons.png" style="width:60%" />
</center>
@* <center style="padding-top: 20px;">
    <img src="/storage/StaticFiles/Media/VisioDescription.png" />
</center> *@

<h2 style="padding-top: 50px;"><center>Stephen Strong</center></h2>
<h2 style="padding-top: 20px;"><center>stephen.strongIoT@gmail.com</center></h2>
<h2 style="padding-top: 20px;"><center>github.com/stevestrong  @@SteveStrong</center></h2>

<center class="slide">Why are you here?</center>
<h2 class="bullet">Interested in a Visio-inspired, web-native programmable drawing tool</h2>
<h2 class="bullet">Wonder if Blazor is the right framework for building this application</h2>
<h2 class="bullet">Want an open-source library and tips for success</h2>

<center class="slide">What We Will Cover</center>
<h2 class="bullet">What comprises a “reinvented” Visio application</h2>
<h2 class="bullet">Yes, Blazor can do it, with sample code</h2>
<h2 class="bullet">A list of tricks/tips I used to implement a solution</h2>

<center class="slide">What a “reinvented” Visio?</center>