@page "/"

<PageTitle>Index</PageTitle>

<h2 style="padding-top: 20px;"><center>Hello, NDC Oslo</center></h2>


<h1 style="padding-top: 70px;"><center style="font-size: xxx-large;">Reinventing Visio in 2023</center></h1>

<h2 style="padding-top: 40px;"><center>A Blazor Project</center></h2>

<center style="padding-top: 80px;">
    <img src="/storage/StaticFiles/Media/VisioIcons.png" style="width:60%" />
</center>


<h2 style="padding-top: 50px;"><center>Stephen Strong</center></h2>
<h2 style="padding-top: 20px;"><center>stephen.strongIoT@gmail.com</center></h2>
<h2 style="padding-top: 20px;"><center>github.com/stevestrong</center></h2>
<h2 style="padding-top: 20px;"><center>@@SteveStrong</center></h2>


<center class="slide">Why Are You Here?</center>
<h2 class="bullet">Interested in a Visio-inspired, web-native programmable drawing tool</h2>
<h2 class="bullet">Wonder if Blazor is the right framework for building this application</h2>
<h2 class="bullet">Want an open-source library and tips for success</h2>


<center class="slide">What We Will Cover</center>
<h2 class="bullet">What comprises a “reinvented” Visio solution</h2>
<h2 class="bullet">Yes, Blazor can do it, with sample code</h2>
<h2 class="bullet">A list of tricks / tips I used to implement this solution</h2>


<center class="slide">What is a “Reinvented” Visio Solution?</center>
<h2 class="bullet">All the advanced drawing functionality of Visio</h2>
<h2 class="bullet">Plus all the advantages of a modern web app </h2>


<center class="slide">Visio Solutions I Have Built</center>

<h2 class="title">Knowledge Capture Solutions for Product Configuration </h2>
<center class="picture">
    <img src="/storage/StaticFiles/Media/apprentice1.png" style="width:60%" />
</center>

<h2 class="title">Automatic Project Generation from Process Diagrams </h2>
<center class="picture">
    <img src="/storage/StaticFiles/Media/projectapprentice.png" style="width:60%" />
</center>

<h2 class="title">2D and 3D Wiring and Cable Routing Solutions </h2>
<center class="picture">
    <img src="/storage/StaticFiles/Media/apprentice2.png" style="width:60%" />
</center>

<h2 class="title">Legal Decision Management with AI Driven Argument Search  </h2>
<center class="picture">
    <img src="/storage/StaticFiles/Media/LegalApprentice.png" style="width:60%" />
</center>

<h2 class="title">Automated Design and Solidworks Integration </h2>
<center class="picture">
    <img src="/storage/StaticFiles/Media/genus.png" style="width:60%" />
</center>


<center class="slide">Rebuilding Visio-inspired Solutions Since 2013</center>
<h2 class="bullet">Each reinvention has been called "Foundry"</h2>
<h2 class="subbullet">Silverlight / WPF</h2>
<h2 class="subbullet">JavaScript / HTML5 Canvas</h2>
<h2 class="subbullet">Angular / TypeScript / HTML5 Canvas / Three.js</h2>
<h2 class="subbullet">React / TypeScript / HTML5 Canvas / Three.js</h2>
<h2 class="subbullet">C# / Unity </h2>
<h2 class="subbullet">C++ / Unreal Engine</h2>
<h2 class="bullet">The current reinvention is called "FoundryBlazor"</h2>
<h2 class="subbullet">Blazor / HTML5 Canvas / Three.js</h2>


<center class="slide">How I Approach Learning New Technology</center>
<h2 class="bullet">Pick a new technology</h2>
<h2 class="bullet">Apply it in a known domain </h2>
@* <h2 class="bullet">Plan to get uncomfortable</h2> *@
<h2 class="bullet">...There is boldness and genius in beginning</h2>



<center style="padding-top: 480px;">
    <img src="/storage/StaticFiles/Media/learning.png" style="width:60%" />
</center>


<center class="slide">Current Visio Reinvention Challenge</center>
<h2 class="bullet">Can we provide the required domain functionality </h2>
<h2 class="subbullet">Extensible and programmable</h2>
<h2 class="subbullet">Custom shapes and drawing layouts</h2>
<h2 class="subbullet">Representing model relationships with 'Glue'</h2>
<h2 class="subbullet">Delivering an application drawing surface</h2>
<h2 class="bullet">While...</h2>
<h2 class="bullet">Meeting new opportunities and technical challenges</h2>
<h2 class="subbullet">Animation</h2>
<h2 class="subbullet">Web native</h2>
<h2 class="subbullet">Model / shape separation</h2>
<h2 class="subbullet">Multi-user collaboration</h2>
<h2 class="subbullet">3D environment</h2>


<center class="slide">The Blazor Advantage</center>
<h2 class="bullet">Power of .NET </h2>
<h2 class="subbullet">Object oriented and functional programming models</h2>
<h2 class="subbullet">Open source libraries</h2>
<h2 class="subbullet">Cross platform / containerized delivery</h2>
<h2 class="bullet">Blazor </h2>
<h2 class="subbullet">C# everywhere / WASM</h2>
<h2 class="subbullet">Integration with JavaScript / HTML5 Canvas / WebGL</h2>
<h2 class="subbullet">Third party UI controls</h2>
<h2 class="subbullet">Forward looking and innovative features every release</h2>

<center style="padding-top: 600px;padding-bottom: 1500px;" class="slide">Let's do some demos</center>

<a id="InspiredbyVisio"></a>
<center  class="slide">The FoundryBlazor Project is Inspired by 2013 Visio</center>
<center style="padding-top: 380px;">
    <img src="/storage/StaticFiles/Media/shapesheet.png" style="width:55%" />
</center>
<center style="padding-top: 380px;">
    <img src="/storage/StaticFiles/Media/visiopins.png" style="width:55%" />
</center>
<center style="padding-top: 380px;">
    <img src="/storage/StaticFiles/Media/matrix.png" style="width:55%" />
</center>
<center style="padding-top: 380px;">
    <img src="/storage/StaticFiles/Media/geometry.png" style="width:55%" />
</center>
<center style="padding-top: 380px;">
    <img src="/storage/StaticFiles/Media/ShapeRender.png" style="width:55%" />
</center>
<center style="padding-top: 380px;">
    <img src="/storage/StaticFiles/Media/Drawing.png" style="width:55%" />
</center>
<center style="padding-top: 380px;">
    <img src="/storage/StaticFiles/Media/Classes.png" style="width:55%" />
</center>
<center style="padding-top: 380px;">
    <img src="/storage/StaticFiles/Media/shapesheet1d.png" style="width:55%" />
</center>
<center style="padding-top: 380px;">
    <img src="/storage/StaticFiles/Media/Glue.png" style="width:55%" />
    @* <img src="/storage/StaticFiles/Media/smashing.png" style="width:55%" /> *@
</center>

<h2 class="keypoint">A value changes they will make the green shape size or position invalid</h2>
<h2 class="keypoint">The green shape marks it's matrix2D property as invalid</h2>
<h2 class="keypoint">The shared glue is notified that the green (target) shape has changed</h2>
<h2 class="keypoint">The shared glue notifies the blue (source) shape it must change</h2>
<h2 class="keypoint">The blue shape marks it's matrix2D property as invalid</h2>
<h2 class="keypoint">Both blue and green redraw themselves in the next render</h2>

<h2 class="keypoint" style="padding-top: 20px;">The yellow shape in not changed by the green shape's changes</h2>
<h2 class="keypoint">The blue shape can not be moved by the user</h2>

<center style="padding-top: 380px;">
    <img src="/storage/StaticFiles/Media/Workspace.png" style="width:55%" />
</center>
<center style="padding-top: 380px;">
    <img src="/storage/StaticFiles/Media/pubsub.png" style="width:55%" />
</center>

<center class="slide">Rules of Rendering</center>
<center style="padding-top: 1px;">
    <img src="/storage/StaticFiles/Media/RenderSequence.png" style="width:55%" />
</center>

<h2 class="keypoint">HTML5 canvas sends an event when it has the bandwidth to render</h2>
<h2 class="keypoint">Process any event you receive outside of the render cycle</h2>
<h2 class="keypoint">Only render sections of the canvas that will be displayed</h2>
<h2 class="keypoint">Consider size when drawing shape details</h2>
<h2 class="keypoint">Animation events are triggered before each render cycle</h2>
<h2 class="keypoint">Multiple events can trigger the same value to change </h2>
<h2 class="keypoint">Values should be calculated on demand (like a spreadsheet) </h2>

<center style="padding-top: 380px;">
    <img src="/storage/StaticFiles/Media/performance.gif" style="width:55%" />
</center>

<center style="padding-top: 380px;">
    <img src="/storage/StaticFiles/Media/colab.png" style="width:65%" />
</center>

<center style="padding-top: 600px;padding-bottom: 1500px;" class="slide">Let's do some more demos</center>
