@page "/"

<PageTitle>Index</PageTitle>

<h2 style="padding-top: 20px;"><center>Hello, NDC Oslo</center></h2>


<h1 style="padding-top: 70px;"><center style="font-size: xxx-large;">Reinventing Visio in 2023</center></h1>

<h2 style="padding-top: 40px;"><center>A Blazor Project</center></h2>

<center style="padding-top: 80px;">
    <img src="/storage/StaticFiles/Media/VisioIcons.png" style="width:60%" />
</center>


<h2 style="padding-top: 50px;"><center>Stephen Strong</center></h2>
<h2 style="padding-top: 20px;"><center>stephen.strongIoT@gmail.com</center></h2>
<h2 style="padding-top: 20px;"><center>github.com/stevestrong  @@SteveStrong</center></h2>



<center class="slide">Why are you here?</center>
<h2 class="bullet">Interested in a Visio-inspired, web-native programmable drawing tool</h2>
<h2 class="bullet">Wonder if Blazor is the right framework for building this application</h2>
<h2 class="bullet">Want an open-source library and tips for success</h2>


<center class="slide">What We Will Cover</center>
<h2 class="bullet">What comprises a “reinvented” Visio solution</h2>
<h2 class="bullet">Yes, Blazor can do it, with sample code</h2>
<h2 class="bullet">A list of tricks/tips I used to implement a solution</h2>


<center class="slide">What a “reinvented” Visio solution? (my opinion)</center>
<h2 class="bullet">Based on how I used Visio in 1997-2013 </h2>
<h2 class="bullet">Based on what I would need Visio since 2013 </h2>
<h2 class="bullet">Essential characteristics informed by experience:</h2>
<h2 class="subbullet">Necessary for programmable drawing</h2>
<h2 class="subbullet">Expected in web native solution</h2>
<h2 class="subbullet">Extensible/Programable By Developers</h2>



<center class="slide">Visio Solutions built before 2013</center>

<h2 class="title">Knowledge Capture Solutions for Product Configuration </h2>
<center class="picture">
    <img src="/storage/StaticFiles/Media/apprentice1.png" style="width:60%" />
</center>

<h2 class="title">2D and 3D Wiring and Cable Routing Solutions </h2>
<center class="picture">
    <img src="/storage/StaticFiles/Media/apprentice2.png" style="width:60%" />
</center>

<h2 class="title">Legal Decision Management with AI driven argument search  </h2>
<center class="picture">
    <img src="/storage/StaticFiles/Media/LegalApprentice.png" style="width:60%" />
</center>

<h2 class="title">Automated Design and Solidworks Integration </h2>
<center class="picture">
    <img src="/storage/StaticFiles/Media/genus.png" style="width:60%" />
</center>


<center class="slide">Rebuilding Visio-inspired solutions since 2013</center>
<h2 class="bullet">Silverlight / WPF</h2>
<h2 class="bullet">Javascript / HTML5 Canvas</h2>
<h2 class="bullet">Angular / Typescript / HTML5 Canvas / Three.js</h2>
<h2 class="bullet">React / Typescript / HTML5 Canvas / Three.js</h2>
<h2 class="bullet">C# / Unity </h2>
<h2 class="bullet">C++ / UnReal Engine</h2>
<h2 class="bullet">Blazor / HTML5 Canvas / Three.js</h2>


<center class="slide">How I approch learning new technology</center>
<h2 class="bullet">Pick a new Technology</h2>
<h2 class="bullet">Pick a new Opportunity in a known domain </h2>
<h2 class="bullet">Plan to get uncomfortable</h2>
<h2 class="bullet">...there is boldness and genus in beginning</h2>


<center class="slide">Learning Is Supposed to Feel Uncomfortable</center>
<center style="padding-top: 80px;">
    <img src="/storage/StaticFiles/Media/Learning.png" style="width:60%" />
</center>


<center class="slide">Current Viso Reinvention Challange</center>
<h2 class="bullet">Can we provide the required domain functionality </h2>
<h2 class="subbullet">Extensible and Programable</h2>
<h2 class="subbullet">Custom Shapes</h2>
<h2 class="subbullet">Representing Model relationships with 'Glue'</h2>
<h2 class="subbullet">Delivering an application drawing surface</h2>
<h2 class="bullet">While..</h2>
<h2 class="bullet">Meeting new Opportunities and Technical Challenges</h2>
<h2 class="subbullet">Animation</h2>
<h2 class="subbullet">Web Native</h2>
<h2 class="subbullet">Model-Shape Separation</h2>
<h2 class="subbullet">Collaboration</h2>
<h2 class="subbullet">3D Environment</h2>


<center class="slide">The Blazor Advantage</center>
<h2 class="bullet">Power of .NET </h2>
<h2 class="subbullet">Object Oriented and Functional programming models</h2>
<h2 class="subbullet">Mature Open source libraries</h2>
<h2 class="subbullet">Cross platform / Containerized delivery</h2>
<h2 class="bullet">Blazor </h2>
<h2 class="subbullet">C# In the Web Browser / WASM</h2>
<h2 class="subbullet">Integration with Javascript / HTML5 Canvas / WebGL</h2>
<h2 class="subbullet">Forward looking and innovation features</h2>

<center class="slide">lets to some demos</center>