@page "/"

<PageTitle>Index</PageTitle>

<h2 style="padding-top: 20px;"><center>Hello, NDC Oslo</center></h2>


<h1 style="padding-top: 70px;"><center style="font-size: xxx-large;">Reinventing Visio in 2023</center></h1>

<h2 style="padding-top: 40px;"><center>A Blazor Project</center></h2>

<center style="padding-top: 80px;">
    <img src="/storage/StaticFiles/Media/VisioIcons.png" style="width:60%" />
</center>
<center style="padding-top: 20px;">
    <img src="/storage/StaticFiles/Media/VisioDescription.png" />
</center>

<h2 style="padding-top: 50px;"><center>Stephen Strong</center></h2>
<h2 style="padding-top: 20px;"><center>stephen.strongIoT@gmail.com</center></h2>
<h2 style="padding-top: 20px;"><center>github.com/stevestrong  @@SteveStrong</center></h2>