@page "/samples"
@inherits SamplesBase

<PageTitle>Samples</PageTitle>

<h1 style="padding-top: 40px;padding-bottom: 40px;"><center>Needed Functionality:  Delivery Technique</center></h1>

@foreach (var manifest in Manifests)
{
    <p style="padding-left:40px;">
        <a class="btn btn-dark m-1" href="@ComputeLink(manifest)" >@manifest.Title</a>
        <span style="padding-left:40px;padding-bottom:10px; max-width:1200px">@manifest.Tip</span>
    </p>
}


@* @foreach (var manifest in Manifests)
{
    <p>@manifest.Title</p>
} *@