<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Foundry Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Hello NDC Oslo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="visio2023">
                Blazor Visio 
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples">
                Code Samples 
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="visio2023drawing/stencil">
                Stencil
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="visio2023drawing/playground">
                Playground
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="visio2023drawing/composition">
                Composition
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="visio2023drawing/boid">
                Boids Page
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="visio2023/boid">
                 Boids Stage
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="visio2023drawing/simulation">
                Simulation
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="visio2023drawing/process">
                Process
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="visio2023drawing/Signalr">
                SignalR
            </NavLink>
        </div>



        <div class="nav-item px-3">
            <NavLink class="nav-link" href="visio2023arena">
                3D Arena
            </NavLink>
        </div>




    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
