@inherits LayoutComponentBase

<PageTitle>NDC Oslo</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article style="padding-left:0px !important">
            @Body
        </article>
    </main>
</div>
